@charset 'utf-8';

// @import '~bulma/bulma';

// import the sass variables: _all or specific (Note: for /derived-variables import before /functions)
// @import '~bulma/sass/utilities/_all';
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';
@import '~bulma/sass/utilities/derived-variables';
// @import '~bulma/sass/utilities/mixins';

$body-background-color: $orange;
$footer-background-color: $code;
$footer-padding: 1.5rem;

$section-padding: 1.5rem;

/**
 * Sticky footer
 * https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
 */

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.body {
  flex: 1;
}


@import '~bulma/bulma';

// Import only what you need from Bulma
// @import "../node_modules/bulma/sass/utilities/_all.sass";
// @import "../node_modules/bulma/sass/base/_all.sass";

// @import "../node_modules/bulma/sass/elements/button.sass";
// @import "../node_modules/bulma/sass/elements/container.sass";
// @import "../node_modules/bulma/sass/elements/form.sass";
// @import "../node_modules/bulma/sass/elements/title.sass";
// @import "../node_modules/bulma/sass/components/navbar.sass";
// @import "../node_modules/bulma/sass/layout/hero.sass";
// @import "../node_modules/bulma/sass/layout/section.sass";